@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: hsl(233, 13%, 49%);
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: right;
    background-position-y: top;
}

.header__title {
    font-size: 1.6em;
    margin-bottom: 30px;
}

.header__switch__option {
    font-size: 0.8em;
    color: hsl(234, 14%, 74%);
}

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 80px 1fr auto;
    grid-gap: 10px;

    height: calc(100vh - 30px);
}



.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}