.container {
    display: grid;
  
    grid-template-areas:
      "main"
      "footer";
  
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
  
    height: calc(100vh - 10px);
  }

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
